# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

# Exclude all .tfvars files, which are likely to contain sensitive data, such as
# password, private keys, and other secrets. These should not be part of version 
# control as they are data points which are potentially sensitive and subject 
# to change depending on the environment.
*.tfvars
*.tfvars.json

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Include override files you do wish to add to version control using negated pattern
# !example_override.tf

# Include tfplan files to ignore the plan output of command: terraform plan -out=tfplan
# example: *tfplan*

# Ignore CLI configuration files
.terraformrc
terraform.rc
oracle-91/venv/pyvenv.cfg
oracle-91/venv/bin/python
oracle-91/venv/bin/python3
oracle-91/venv/bin/python3.9
oracle-91/venv/lib/python3.9/site-packages/distutils-precedence.pth
oracle-91/venv/lib/python3.9/site-packages/_distutils_hack/__init__.py
oracle-91/venv/lib/python3.9/site-packages/_distutils_hack/override.py
oracle-91/venv/lib/python3.9/site-packages/_distutils_hack/__pycache__/__init__.cpython-39.pyc
oracle-91/venv/lib/python3.9/site-packages/_distutils_hack/__pycache__/override.cpython-39.pyc
oracle-91/venv/lib/python3.9/site-packages/pkg_resources/__init__.py
oracle-91/venv/lib/python3.9/site-packages/pkg_resources/__pycache__/__init__.cpython-39.pyc
oracle-91/venv/lib/python3.9/site-packages/pkg_resources/_vendor/__init__.py
oracle-91/venv/lib/python3.9/site-packages/pkg_resources/_vendor/appdirs.py
oracle-91/venv/lib/python3.9/site-packages/pkg_resources/_vendor/pyparsing.py
oracle-91/venv/lib/python3.9/site-packages/pkg_resources/_vendor/__pycache__/__init__.cpython-39.pyc
oracle-91/venv/lib/python3.9/site-packages/pkg_resources/_vendor/__pycache__/appdirs.cpython-39.pyc
oracle-91/venv/lib/python3.9/site-packages/pkg_resources/_vendor/__pycache__/pyparsing.cpython-39.pyc
oracle-91/venv/lib/python3.9/site-packages/pkg_resources/_vendor/packaging/__about__.py
oracle-91/venv/lib/python3.9/site-packages/pkg_resources/_vendor/packaging/__init__.py
oracle-91/venv/lib/python3.9/site-packages/pkg_resources/_vendor/packaging/_compat.py
oracle-91/venv/lib/python3.9/site-packages/pkg_resources/_vendor/packaging/_structures.py
oracle-91/venv/lib/python3.9/site-packages/pkg_resources/_vendor/packaging/_typing.py
oracle-91/venv/lib/python3.9/site-packages/pkg_resources/_vendor/packaging/markers.py
oracle-91/venv/lib/python3.9/site-packages/pkg_resources/_vendor/packaging/requirements.py
oracle-91/venv/lib/python3.9/site-packages/pkg_resources/_vendor/packaging/specifiers.py
oracle-91/venv/lib/python3.9/site-packages/pkg_resources/_vendor/packaging/tags.py
oracle-91/venv/lib/python3.9/site-packages/pkg_resources/_vendor/packaging/utils.py
oracle-91/venv/lib/python3.9/site-packages/pkg_resources/_vendor/packaging/version.py
oracle-91/venv/lib/python3.9/site-packages/pkg_resources/_vendor/packaging/__pycache__/__about__.cpython-39.pyc
oracle-91/venv/lib/python3.9/site-packages/pkg_resources/_vendor/packaging/__pycache__/__init__.cpython-39.pyc
oracle-91/venv/lib/python3.9/site-packages/pkg_resources/_vendor/packaging/__pycache__/_compat.cpython-39.pyc
oracle-91/venv/lib/python3.9/site-packages/pkg_resources/_vendor/packaging/__pycache__/_structures.cpython-39.pyc
oracle-91/venv/lib/python3.9/site-packages/pkg_resources/_vendor/packaging/__pycache__/_typing.cpython-39.pyc
oracle-91/venv/lib/python3.9/site-packages/pkg_resources/_vendor/packaging/__pycache__/markers.cpython-39.pyc
oracle-91/venv/lib/python3.9/site-packages/pkg_resources/_vendor/packaging/__pycache__/requirements.cpython-39.pyc
oracle-91/venv/lib/python3.9/site-packages/pkg_resources/_vendor/packaging/__pycache__/specifiers.cpython-39.pyc
oracle-91/venv/lib/python3.9/site-packages/pkg_resources/_vendor/packaging/__pycache__/tags.cpython-39.pyc
oracle-91/venv/lib/python3.9/site-packages/pkg_resources/_vendor/packaging/__pycache__/utils.cpython-39.pyc
oracle-91/venv/lib/python3.9/site-packages/pkg_resources/_vendor/packaging/__pycache__/version.cpython-39.pyc
oracle-91/venv/lib/python3.9/site-packages/pkg_resources/extern/__init__.py
oracle-91/venv/lib/python3.9/site-packages/pkg_resources/extern/__pycache__/__init__.cpython-39.pyc
oracle-91/venv/lib/python3.9/site-packages/pkg_resources/tests/data/my-test-package-source/setup.py
oracle-91/venv/lib/python3.9/site-packages/pkg_resources/tests/data/my-test-package-source/__pycache__/setup.cpython-39.pyc
oracle-91/venv/lib/python3.9/site-packages/setuptools/__init__.py
oracle-91/venv/lib/python3.9/site-packages/setuptools/_deprecation_warning.py
oracle-91/venv/lib/python3.9/site-packages/setuptools/_imp.py
oracle-91/venv/lib/python3.9/site-packages/setuptools/archive_util.py
oracle-91/venv/lib/python3.9/site-packages/setuptools/build_meta.py
oracle-91/venv/lib/python3.9/site-packages/setuptools/config.py
oracle-91/venv/lib/python3.9/site-packages/setuptools/dep_util.py
oracle-91/venv/lib/python3.9/site-packages/setuptools/depends.py
oracle-91/venv/lib/python3.9/site-packages/setuptools/dist.py
oracle-91/venv/lib/python3.9/site-packages/setuptools/errors.py
oracle-91/venv/lib/python3.9/site-packages/setuptools/extension.py
oracle-91/venv/lib/python3.9/site-packages/setuptools/glob.py
oracle-91/venv/lib/python3.9/site-packages/setuptools/installer.py
oracle-91/venv/lib/python3.9/site-packages/setuptools/launch.py
oracle-91/venv/lib/python3.9/site-packages/setuptools/lib2to3_ex.py
oracle-91/venv/lib/python3.9/site-packages/setuptools/monkey.py
oracle-91/venv/lib/python3.9/site-packages/setuptools/msvc.py
oracle-91/venv/lib/python3.9/site-packages/setuptools/namespaces.py
oracle-91/venv/lib/python3.9/site-packages/setuptools/package_index.py
oracle-91/venv/lib/python3.9/site-packages/setuptools/py34compat.py
oracle-91/venv/lib/python3.9/site-packages/setuptools/sandbox.py
oracle-91/venv/lib/python3.9/site-packages/setuptools/script (dev).tmpl
oracle-91/venv/lib/python3.9/site-packages/setuptools/script.tmpl
oracle-91/venv/lib/python3.9/site-packages/setuptools/ssl_support.py
oracle-91/venv/lib/python3.9/site-packages/setuptools/unicode_utils.py
oracle-91/venv/lib/python3.9/site-packages/setuptools/version.py
oracle-91/venv/lib/python3.9/site-packages/setuptools/wheel.py
oracle-91/venv/lib/python3.9/site-packages/setuptools/windows_support.py
oracle-91/venv/lib/python3.9/site-packages/setuptools/__pycache__/__init__.cpython-39.pyc
oracle-91/venv/lib/python3.9/site-packages/setuptools/__pycache__/_deprecation_warning.cpython-39.pyc
oracle-91/venv/lib/python3.9/site-packages/setuptools/__pycache__/_imp.cpython-39.pyc
oracle-91/venv/lib/python3.9/site-packages/setuptools/__pycache__/archive_util.cpython-39.pyc
oracle-91/venv/lib/python3.9/site-packages/setuptools/__pycache__/build_meta.cpython-39.pyc
oracle-91/venv/lib/python3.9/site-packages/setuptools/__pycache__/config.cpython-39.pyc
oracle-91/venv/lib/python3.9/site-packages/setuptools/__pycache__/dep_util.cpython-39.pyc
oracle-91/venv/lib/python3.9/site-packages/setuptools/__pycache__/depends.cpython-39.pyc
oracle-91/venv/lib/python3.9/site-packages/setuptools/__pycache__/dist.cpython-39.pyc
oracle-91/venv/lib/python3.9/site-packages/setuptools/__pycache__/errors.cpython-39.pyc
oracle-91/venv/lib/python3.9/site-packages/setuptools/__pycache__/extension.cpython-39.pyc
oracle-91/venv/lib/python3.9/site-packages/setuptools/__pycache__/glob.cpython-39.pyc
oracle-91/venv/lib/python3.9/site-packages/setuptools/__pycache__/installer.cpython-39.pyc
oracle-91/venv/lib/python3.9/site-packages/setuptools/__pycache__/launch.cpython-39.pyc
oracle-91/venv/lib/python3.9/site-packages/setuptools/__pycache__/lib2to3_ex.cpython-39.pyc
oracle-91/venv/lib/python3.9/site-packages/setuptools/__pycache__/monkey.cpython-39.pyc
oracle-91/venv/lib/python3.9/site-packages/setuptools/__pycache__/msvc.cpython-39.pyc
oracle-91/venv/lib/python3.9/site-packages/setuptools/__pycache__/namespaces.cpython-39.pyc
oracle-91/venv/lib/python3.9/site-packages/setuptools/__pycache__/package_index.cpython-39.pyc
oracle-91/venv/lib/python3.9/site-packages/setuptools/__pycache__/py34compat.cpython-39.pyc
oracle-91/venv/lib/python3.9/site-packages/setuptools/__pycache__/sandbox.cpython-39.pyc
oracle-91/venv/lib/python3.9/site-packages/setuptools/__pycache__/ssl_support.cpython-39.pyc
oracle-91/venv/lib/python3.9/site-packages/setuptools/__pycache__/unicode_utils.cpython-39.pyc
oracle-91/venv/lib/python3.9/site-packages/setuptools/__pycache__/version.cpython-39.pyc
oracle-91/venv/lib/python3.9/site-packages/setuptools/__pycache__/wheel.cpython-39.pyc
oracle-91/venv/lib/python3.9/site-packages/setuptools/__pycache__/windows_support.cpython-39.pyc
oracle-91/venv/lib/python3.9/site-packages/setuptools/_distutils/__init__.py
oracle-91/venv/lib/python3.9/site-packages/setuptools/_distutils/_msvccompiler.py
oracle-91/venv/lib/python3.9/site-packages/setuptools/_distutils/archive_util.py
oracle-91/venv/lib/python3.9/site-packages/setuptools/_distutils/bcppcompiler.py
oracle-91/venv/lib/python3.9/site-packages/setuptools/_distutils/ccompiler.py
oracle-91/venv/lib/python3.9/site-packages/setuptools/_distutils/cmd.py
oracle-91/venv/lib/python3.9/site-packages/setuptools/_distutils/config.py
oracle-91/venv/lib/python3.9/site-packages/setuptools/_distutils/core.py
oracle-91/venv/lib/python3.9/site-packages/setuptools/_distutils/cygwinccompiler.py
oracle-91/venv/lib/python3.9/site-packages/setuptools/_distutils/debug.py
oracle-91/venv/lib/python3.9/site-packages/setuptools/_distutils/dep_util.py
oracle-91/venv/lib/python3.9/site-packages/setuptools/_distutils/dir_util.py
oracle-91/venv/lib/python3.9/site-packages/setuptools/_distutils/dist.py
oracle-91/venv/lib/python3.9/site-packages/setuptools/_distutils/errors.py
oracle-91/venv/lib/python3.9/site-packages/setuptools/_distutils/extension.py
oracle-91/venv/lib/python3.9/site-packages/setuptools/_distutils/fancy_getopt.py
oracle-91/venv/lib/python3.9/site-packages/setuptools/_distutils/file_util.py
oracle-91/venv/lib/python3.9/site-packages/setuptools/_distutils/filelist.py
oracle-91/venv/lib/python3.9/site-packages/setuptools/_distutils/log.py
oracle-91/venv/lib/python3.9/site-packages/setuptools/_distutils/msvc9compiler.py
oracle-91/venv/lib/python3.9/site-packages/setuptools/_distutils/msvccompiler.py
oracle-91/venv/lib/python3.9/site-packages/setuptools/_distutils/py35compat.py
oracle-91/venv/lib/python3.9/site-packages/setuptools/_distutils/py38compat.py
oracle-91/venv/lib/python3.9/site-packages/setuptools/_distutils/spawn.py
oracle-91/venv/lib/python3.9/site-packages/setuptools/_distutils/sysconfig.py
oracle-91/venv/lib/python3.9/site-packages/setuptools/_distutils/text_file.py
oracle-91/venv/lib/python3.9/site-packages/setuptools/_distutils/unixccompiler.py
oracle-91/venv/lib/python3.9/site-packages/setuptools/_distutils/util.py
oracle-91/venv/lib/python3.9/site-packages/setuptools/_distutils/version.py
oracle-91/venv/lib/python3.9/site-packages/setuptools/_distutils/versionpredicate.py
oracle-91/venv/lib/python3.9/site-packages/setuptools/_distutils/__pycache__/__init__.cpython-39.pyc
oracle-91/venv/lib/python3.9/site-packages/setuptools/_distutils/__pycache__/_msvccompiler.cpython-39.pyc
oracle-91/venv/lib/python3.9/site-packages/setuptools/_distutils/__pycache__/archive_util.cpython-39.pyc
oracle-91/venv/lib/python3.9/site-packages/setuptools/_distutils/__pycache__/bcppcompiler.cpython-39.pyc
oracle-91/venv/lib/python3.9/site-packages/setuptools/_distutils/__pycache__/ccompiler.cpython-39.pyc
oracle-91/venv/lib/python3.9/site-packages/setuptools/_distutils/__pycache__/cmd.cpython-39.pyc
oracle-91/venv/lib/python3.9/site-packages/setuptools/_distutils/__pycache__/config.cpython-39.pyc
oracle-91/venv/lib/python3.9/site-packages/setuptools/_distutils/__pycache__/core.cpython-39.pyc
oracle-91/venv/lib/python3.9/site-packages/setuptools/_distutils/__pycache__/cygwinccompiler.cpython-39.pyc
oracle-91/venv/lib/python3.9/site-packages/setuptools/_distutils/__pycache__/debug.cpython-39.pyc
oracle-91/venv/lib/python3.9/site-packages/setuptools/_distutils/__pycache__/dep_util.cpython-39.pyc
oracle-91/venv/lib/python3.9/site-packages/setuptools/_distutils/__pycache__/dir_util.cpython-39.pyc
oracle-91/venv/lib/python3.9/site-packages/setuptools/_distutils/__pycache__/dist.cpython-39.pyc
oracle-91/venv/lib/python3.9/site-packages/setuptools/_distutils/__pycache__/errors.cpython-39.pyc
oracle-91/venv/lib/python3.9/site-packages/setuptools/_distutils/__pycache__/extension.cpython-39.pyc
oracle-91/venv/lib/python3.9/site-packages/setuptools/_distutils/__pycache__/fancy_getopt.cpython-39.pyc
oracle-91/venv/lib/python3.9/site-packages/setuptools/_distutils/__pycache__/file_util.cpython-39.pyc
oracle-91/venv/lib/python3.9/site-packages/setuptools/_distutils/__pycache__/filelist.cpython-39.pyc
oracle-91/venv/lib/python3.9/site-packages/setuptools/_distutils/__pycache__/log.cpython-39.pyc
oracle-91/venv/lib/python3.9/site-packages/setuptools/_distutils/__pycache__/msvc9compiler.cpython-39.pyc
oracle-91/venv/lib/python3.9/site-packages/setuptools/_distutils/__pycache__/msvccompiler.cpython-39.pyc
oracle-91/venv/lib/python3.9/site-packages/setuptools/_distutils/__pycache__/py35compat.cpython-39.pyc
oracle-91/venv/lib/python3.9/site-packages/setuptools/_distutils/__pycache__/py38compat.cpython-39.pyc
oracle-91/venv/lib/python3.9/site-packages/setuptools/_distutils/__pycache__/spawn.cpython-39.pyc
oracle-91/venv/lib/python3.9/site-packages/setuptools/_distutils/__pycache__/sysconfig.cpython-39.pyc
oracle-91/venv/lib/python3.9/site-packages/setuptools/_distutils/__pycache__/text_file.cpython-39.pyc
oracle-91/venv/lib/python3.9/site-packages/setuptools/_distutils/__pycache__/unixccompiler.cpython-39.pyc
oracle-91/venv/lib/python3.9/site-packages/setuptools/_distutils/__pycache__/util.cpython-39.pyc
oracle-91/venv/lib/python3.9/site-packages/setuptools/_distutils/__pycache__/version.cpython-39.pyc
oracle-91/venv/lib/python3.9/site-packages/setuptools/_distutils/__pycache__/versionpredicate.cpython-39.pyc
oracle-91/venv/lib/python3.9/site-packages/setuptools/_distutils/command/__init__.py
oracle-91/venv/lib/python3.9/site-packages/setuptools/_distutils/command/bdist_dumb.py
oracle-91/venv/lib/python3.9/site-packages/setuptools/_distutils/command/bdist_msi.py
oracle-91/venv/lib/python3.9/site-packages/setuptools/_distutils/command/bdist_rpm.py
oracle-91/venv/lib/python3.9/site-packages/setuptools/_distutils/command/bdist_wininst.py
oracle-91/venv/lib/python3.9/site-packages/setuptools/_distutils/command/bdist.py
oracle-91/venv/lib/python3.9/site-packages/setuptools/_distutils/command/build_clib.py
oracle-91/venv/lib/python3.9/site-packages/setuptools/_distutils/command/build_ext.py
oracle-91/venv/lib/python3.9/site-packages/setuptools/_distutils/command/build_py.py
oracle-91/venv/lib/python3.9/site-packages/setuptools/_distutils/command/build_scripts.py
oracle-91/venv/lib/python3.9/site-packages/setuptools/_distutils/command/build.py
oracle-91/venv/lib/python3.9/site-packages/setuptools/_distutils/command/check.py
oracle-91/venv/lib/python3.9/site-packages/setuptools/_distutils/command/clean.py
oracle-91/venv/lib/python3.9/site-packages/setuptools/_distutils/command/config.py
oracle-91/venv/lib/python3.9/site-packages/setuptools/_distutils/command/install_data.py
oracle-91/venv/lib/python3.9/site-packages/setuptools/_distutils/command/install_egg_info.py
oracle-91/venv/lib/python3.9/site-packages/setuptools/_distutils/command/install_headers.py
oracle-91/venv/lib/python3.9/site-packages/setuptools/_distutils/command/install_lib.py
oracle-91/venv/lib/python3.9/site-packages/setuptools/_distutils/command/install_scripts.py
oracle-91/venv/lib/python3.9/site-packages/setuptools/_distutils/command/install.py
oracle-91/venv/lib/python3.9/site-packages/setuptools/_distutils/command/py37compat.py
oracle-91/venv/lib/python3.9/site-packages/setuptools/_distutils/command/register.py
oracle-91/venv/lib/python3.9/site-packages/setuptools/_distutils/command/sdist.py
oracle-91/venv/lib/python3.9/site-packages/setuptools/_distutils/command/upload.py
oracle-91/venv/lib/python3.9/site-packages/setuptools/_distutils/command/__pycache__/__init__.cpython-39.pyc
oracle-91/venv/lib/python3.9/site-packages/setuptools/_distutils/command/__pycache__/bdist_dumb.cpython-39.pyc
oracle-91/venv/lib/python3.9/site-packages/setuptools/_distutils/command/__pycache__/bdist_msi.cpython-39.pyc
oracle-91/venv/lib/python3.9/site-packages/setuptools/_distutils/command/__pycache__/bdist_rpm.cpython-39.pyc
oracle-91/venv/lib/python3.9/site-packages/setuptools/_distutils/command/__pycache__/bdist_wininst.cpython-39.pyc
oracle-91/venv/lib/python3.9/site-packages/setuptools/_distutils/command/__pycache__/bdist.cpython-39.pyc
oracle-91/venv/lib/python3.9/site-packages/setuptools/_distutils/command/__pycache__/build_clib.cpython-39.pyc
oracle-91/venv/lib/python3.9/site-packages/setuptools/_distutils/command/__pycache__/build_ext.cpython-39.pyc
oracle-91/venv/lib/python3.9/site-packages/setuptools/_distutils/command/__pycache__/build_py.cpython-39.pyc
oracle-91/venv/lib/python3.9/site-packages/setuptools/_distutils/command/__pycache__/build_scripts.cpython-39.pyc
oracle-91/venv/lib/python3.9/site-packages/setuptools/_distutils/command/__pycache__/build.cpython-39.pyc
oracle-91/venv/lib/python3.9/site-packages/setuptools/_distutils/command/__pycache__/check.cpython-39.pyc
oracle-91/venv/lib/python3.9/site-packages/setuptools/_distutils/command/__pycache__/clean.cpython-39.pyc
oracle-91/venv/lib/python3.9/site-packages/setuptools/_distutils/command/__pycache__/config.cpython-39.pyc
oracle-91/venv/lib/python3.9/site-packages/setuptools/_distutils/command/__pycache__/install_data.cpython-39.pyc
oracle-91/venv/lib/python3.9/site-packages/setuptools/_distutils/command/__pycache__/install_egg_info.cpython-39.pyc
oracle-91/venv/lib/python3.9/site-packages/setuptools/_distutils/command/__pycache__/install_headers.cpython-39.pyc
oracle-91/venv/lib/python3.9/site-packages/setuptools/_distutils/command/__pycache__/install_lib.cpython-39.pyc
oracle-91/venv/lib/python3.9/site-packages/setuptools/_distutils/command/__pycache__/install_scripts.cpython-39.pyc
oracle-91/venv/lib/python3.9/site-packages/setuptools/_distutils/command/__pycache__/install.cpython-39.pyc
oracle-91/venv/lib/python3.9/site-packages/setuptools/_distutils/command/__pycache__/py37compat.cpython-39.pyc
oracle-91/venv/lib/python3.9/site-packages/setuptools/_distutils/command/__pycache__/register.cpython-39.pyc
oracle-91/venv/lib/python3.9/site-packages/setuptools/_distutils/command/__pycache__/sdist.cpython-39.pyc
oracle-91/venv/lib/python3.9/site-packages/setuptools/_distutils/command/__pycache__/upload.cpython-39.pyc
oracle-91/venv/lib/python3.9/site-packages/setuptools/_vendor/__init__.py
oracle-91/venv/lib/python3.9/site-packages/setuptools/_vendor/ordered_set.py
oracle-91/venv/lib/python3.9/site-packages/setuptools/_vendor/pyparsing.py
oracle-91/venv/lib/python3.9/site-packages/setuptools/_vendor/__pycache__/__init__.cpython-39.pyc
oracle-91/venv/lib/python3.9/site-packages/setuptools/_vendor/__pycache__/ordered_set.cpython-39.pyc
oracle-91/venv/lib/python3.9/site-packages/setuptools/_vendor/__pycache__/pyparsing.cpython-39.pyc
oracle-91/venv/lib/python3.9/site-packages/setuptools/_vendor/packaging/__about__.py
oracle-91/venv/lib/python3.9/site-packages/setuptools/_vendor/packaging/__init__.py
oracle-91/venv/lib/python3.9/site-packages/setuptools/_vendor/packaging/_compat.py
oracle-91/venv/lib/python3.9/site-packages/setuptools/_vendor/packaging/_structures.py
oracle-91/venv/lib/python3.9/site-packages/setuptools/_vendor/packaging/_typing.py
oracle-91/venv/lib/python3.9/site-packages/setuptools/_vendor/packaging/markers.py
oracle-91/venv/lib/python3.9/site-packages/setuptools/_vendor/packaging/requirements.py
oracle-91/venv/lib/python3.9/site-packages/setuptools/_vendor/packaging/specifiers.py
oracle-91/venv/lib/python3.9/site-packages/setuptools/_vendor/packaging/tags.py
oracle-91/venv/lib/python3.9/site-packages/setuptools/_vendor/packaging/utils.py
oracle-91/venv/lib/python3.9/site-packages/setuptools/_vendor/packaging/version.py
oracle-91/venv/lib/python3.9/site-packages/setuptools/_vendor/packaging/__pycache__/__about__.cpython-39.pyc
oracle-91/venv/lib/python3.9/site-packages/setuptools/_vendor/packaging/__pycache__/__init__.cpython-39.pyc
oracle-91/venv/lib/python3.9/site-packages/setuptools/_vendor/packaging/__pycache__/_compat.cpython-39.pyc
oracle-91/venv/lib/python3.9/site-packages/setuptools/_vendor/packaging/__pycache__/_structures.cpython-39.pyc
oracle-91/venv/lib/python3.9/site-packages/setuptools/_vendor/packaging/__pycache__/_typing.cpython-39.pyc
oracle-91/venv/lib/python3.9/site-packages/setuptools/_vendor/packaging/__pycache__/markers.cpython-39.pyc
oracle-91/venv/lib/python3.9/site-packages/setuptools/_vendor/packaging/__pycache__/requirements.cpython-39.pyc
oracle-91/venv/lib/python3.9/site-packages/setuptools/_vendor/packaging/__pycache__/specifiers.cpython-39.pyc
oracle-91/venv/lib/python3.9/site-packages/setuptools/_vendor/packaging/__pycache__/tags.cpython-39.pyc
oracle-91/venv/lib/python3.9/site-packages/setuptools/_vendor/packaging/__pycache__/utils.cpython-39.pyc
oracle-91/venv/lib/python3.9/site-packages/setuptools/_vendor/packaging/__pycache__/version.cpython-39.pyc
oracle-91/venv/lib/python3.9/site-packages/setuptools/command/__init__.py
oracle-91/venv/lib/python3.9/site-packages/setuptools/command/alias.py
oracle-91/venv/lib/python3.9/site-packages/setuptools/command/bdist_egg.py
oracle-91/venv/lib/python3.9/site-packages/setuptools/command/bdist_rpm.py
oracle-91/venv/lib/python3.9/site-packages/setuptools/command/bdist_wininst.py
oracle-91/venv/lib/python3.9/site-packages/setuptools/command/build_clib.py
oracle-91/venv/lib/python3.9/site-packages/setuptools/command/build_ext.py
oracle-91/venv/lib/python3.9/site-packages/setuptools/command/build_py.py
oracle-91/venv/lib/python3.9/site-packages/setuptools/command/develop.py
oracle-91/venv/lib/python3.9/site-packages/setuptools/command/dist_info.py
oracle-91/venv/lib/python3.9/site-packages/setuptools/command/easy_install.py
oracle-91/venv/lib/python3.9/site-packages/setuptools/command/egg_info.py
oracle-91/venv/lib/python3.9/site-packages/setuptools/command/install_egg_info.py
oracle-91/venv/lib/python3.9/site-packages/setuptools/command/install_lib.py
oracle-91/venv/lib/python3.9/site-packages/setuptools/command/install_scripts.py
oracle-91/venv/lib/python3.9/site-packages/setuptools/command/install.py
oracle-91/venv/lib/python3.9/site-packages/setuptools/command/launcher manifest.xml
oracle-91/venv/lib/python3.9/site-packages/setuptools/command/py36compat.py
oracle-91/venv/lib/python3.9/site-packages/setuptools/command/register.py
oracle-91/venv/lib/python3.9/site-packages/setuptools/command/rotate.py
oracle-91/venv/lib/python3.9/site-packages/setuptools/command/saveopts.py
oracle-91/venv/lib/python3.9/site-packages/setuptools/command/sdist.py
oracle-91/venv/lib/python3.9/site-packages/setuptools/command/setopt.py
oracle-91/venv/lib/python3.9/site-packages/setuptools/command/test.py
oracle-91/venv/lib/python3.9/site-packages/setuptools/command/upload_docs.py
oracle-91/venv/lib/python3.9/site-packages/setuptools/command/upload.py
oracle-91/venv/lib/python3.9/site-packages/setuptools/command/__pycache__/__init__.cpython-39.pyc
oracle-91/venv/lib/python3.9/site-packages/setuptools/command/__pycache__/alias.cpython-39.pyc
oracle-91/venv/lib/python3.9/site-packages/setuptools/command/__pycache__/bdist_egg.cpython-39.pyc
oracle-91/venv/lib/python3.9/site-packages/setuptools/command/__pycache__/bdist_rpm.cpython-39.pyc
oracle-91/venv/lib/python3.9/site-packages/setuptools/command/__pycache__/bdist_wininst.cpython-39.pyc
oracle-91/venv/lib/python3.9/site-packages/setuptools/command/__pycache__/build_clib.cpython-39.pyc
oracle-91/venv/lib/python3.9/site-packages/setuptools/command/__pycache__/build_ext.cpython-39.pyc
oracle-91/venv/lib/python3.9/site-packages/setuptools/command/__pycache__/build_py.cpython-39.pyc
oracle-91/venv/lib/python3.9/site-packages/setuptools/command/__pycache__/develop.cpython-39.pyc
oracle-91/venv/lib/python3.9/site-packages/setuptools/command/__pycache__/dist_info.cpython-39.pyc
oracle-91/venv/lib/python3.9/site-packages/setuptools/command/__pycache__/easy_install.cpython-39.pyc
oracle-91/venv/lib/python3.9/site-packages/setuptools/command/__pycache__/egg_info.cpython-39.pyc
oracle-91/venv/lib/python3.9/site-packages/setuptools/command/__pycache__/install_egg_info.cpython-39.pyc
oracle-91/venv/lib/python3.9/site-packages/setuptools/command/__pycache__/install_lib.cpython-39.pyc
oracle-91/venv/lib/python3.9/site-packages/setuptools/command/__pycache__/install_scripts.cpython-39.pyc
oracle-91/venv/lib/python3.9/site-packages/setuptools/command/__pycache__/install.cpython-39.pyc
oracle-91/venv/lib/python3.9/site-packages/setuptools/command/__pycache__/py36compat.cpython-39.pyc
oracle-91/venv/lib/python3.9/site-packages/setuptools/command/__pycache__/register.cpython-39.pyc
oracle-91/venv/lib/python3.9/site-packages/setuptools/command/__pycache__/rotate.cpython-39.pyc
oracle-91/venv/lib/python3.9/site-packages/setuptools/command/__pycache__/saveopts.cpython-39.pyc
oracle-91/venv/lib/python3.9/site-packages/setuptools/command/__pycache__/sdist.cpython-39.pyc
oracle-91/venv/lib/python3.9/site-packages/setuptools/command/__pycache__/setopt.cpython-39.pyc
oracle-91/venv/lib/python3.9/site-packages/setuptools/command/__pycache__/test.cpython-39.pyc
oracle-91/venv/lib/python3.9/site-packages/setuptools/command/__pycache__/upload_docs.cpython-39.pyc
oracle-91/venv/lib/python3.9/site-packages/setuptools/command/__pycache__/upload.cpython-39.pyc
oracle-91/venv/lib/python3.9/site-packages/setuptools/extern/__init__.py
oracle-91/venv/lib/python3.9/site-packages/setuptools/extern/__pycache__/__init__.cpython-39.pyc
oracle-91/venv/lib/python3.9/site-packages/setuptools-53.0.0.dist-info/dependency_links.txt
oracle-91/venv/lib/python3.9/site-packages/setuptools-53.0.0.dist-info/entry_points.txt
oracle-91/venv/lib/python3.9/site-packages/setuptools-53.0.0.dist-info/INSTALLERpl3y8_rt.tmp
oracle-91/venv/lib/python3.9/site-packages/setuptools-53.0.0.dist-info/LICENSE
oracle-91/venv/lib/python3.9/site-packages/setuptools-53.0.0.dist-info/METADATA
oracle-91/venv/lib/python3.9/site-packages/setuptools-53.0.0.dist-info/RECORD
oracle-91/venv/lib/python3.9/site-packages/setuptools-53.0.0.dist-info/top_level.txt
oracle-91/venv/lib/python3.9/site-packages/setuptools-53.0.0.dist-info/WHEEL
